<nav class="navbar " style="background: rgba(0,0,0,0);">
  <div class="container-fluid" >
    <div class="navbar-brand" style="display:flex; align-items:center;">
      <%= image_tag("superball.png", width: '50px') %>
      <strong style="padding-left:5px;">Pokemon Eat</strong>
    </div>
    <span class="navbar-text">
      <% if @user == nil %>
        <button class="btn btn-outline-success" >
          <%= link_to "Log In", "/" %>
        </button>
        <button class="btn btn-outline-success" >
          <%= link_to "Sign Up", "/" %>
        </button>
      <% else %>
        <%= link_to @user.email, "/user" %>
      <% end%>
    </span>
  </div>
</nav>






<% if @reviews.empty? == false%>   
  <% @reviews.each do |r| %>
    <p><%= r.user_id%></p>
    <p><%= r.review %></p>

  <% end %>
<% end%>



<button type="button" class="btn btn-primary">
  <%= link_to "Write a Review", "/business/" + @business["id"] + "/review"%>
</button>


