<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
  <%= image_tag("superball.png", width:'80px') %>
  <a class="navbar-brand" href="/home" style="margin-left:5px; font-size:25px;">Pokemon Eat</a>
  <div style="width:60%; margin-left:20%;">
    <%= form_with(url: "/search/" + params[:id].to_s, method: :get, local: true) do |form| %>
      <div style="display:inline;">
        <%= form.text_field :term, :id=>'search_term', :class=>"form-control", :style=>"display:inline; width:20%; border-radius:20px;", :placeholder=>"Find"%>
      </div>
      <div style="display:inline;">
        <%= form.text_field :location, :id => 'search_location', :class=>"form-control insert-location", :style=>"display:inline; width:30%; border-radius:20px;", :placeholder=>"Near"%>
      </div>
      <% if @search_error != nil%>
        <p><%= @search_error%></p>
      <% end%>
      <div style="display:inline;">
        <%= form.submit "Go" , :class=>"btn", :style=>"color:white; font-size:1.25rem;" %>
      </div>
    <% end %>
  </div>
  <div class="col-2 collapse navbar-collapse" id="navbarResponsive">
    <% if @user == nil %>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/welcome">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/welcome">Log In</a>
        </li>
      </ul>
    <% else %>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/user" style="font-size:1.25rem;">
            <img src=<%=@avatar_url%> style="width:65px; display:inline;">
          </a>
        </li>
      </ul>
    <% end %>
  </div>
</nav>


<div style="margin:0px; padding:0px; width:100%;">
  <div class="row" style="margin:0px; width:100%; height:550px; overflow:hidden; background-image: linear-gradient(to top, rgba(0,0,0,0.75), rgba(255,255,255,0)), url(<%= @business_background_url %>); background-size:cover; ">
    <div class="container" style="margin-top:250px; color:white;">
      <%= image_tag("open-pokeball.png", width:'80px') %>
      <h1><%= @business["name"]%></h1>
      <div style="margin-bottom:15px; display:flex; align-items: center;">
        <%= image_tag("insignia-1.png", width:'45px', style:'display:inline') %>
        <% @business["categories"].each do |c|%>
          <h3 style="display:inline; margin-left:5px; margin-bottom: 0px;"><%= c["title"]%> | </h3>
        <% end %>
      </div>
      <div style="margin-bottom:15px; display:flex; align-items: center;">
        <%= image_tag("pokecoin.png", width:'45px', style:'display:inline; margin-right:0px;') %>
        <h3 style="display:inline; margin-left:5px; margin-bottom: 0px;"><%= @business["price"]%></h3>
      </div>
    </div>
  </div>
</div>


<div class="container" style="margin-top:20px;">
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#reviewModal" style="font-size:20px;">
    Write a Review
  </button>   
  <!-- The Modal -->
  <div class="modal fade" id="reviewModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Write up Your Reivew</h4>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
          <%= form_with(url: "/business/" + @business["id"].to_s + "/review", method: :get, local: true) do |form| %>
            <%= form.text_field :review, :class=>"form-control", :style=>"height:200px;"%>
            <%= form.submit "Post" , :class=>"btn btn-primary" ,:style=>"margin-top:20px;"%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <button type="button" href=<%="/like/" + @business["id"]%> class="btn btn-primary" style="font-size:20px;">
    Thumbs Up
  </button>
  <div style="margin-top:5px; height:1px; border-top:solid #ACC0D8 1px;"></div>
</div>


<div class="container" style="margin-top:60px;">
  <h1>Basics</h1>
  <div style="height:1px; border-top: solid #ACC0D8 1px; margin-bottom:5px;"></div>
  <% @business["photos"].each do |photo|%>
    <img src=<%= photo%> style="width:300px; max-height:200px; border-radius:5px; background-size:cover;">
  <% end %>

  <div style="margin-top:30px; display:flex; align-items: center;">
    <%= image_tag("compass.png", width:'45px', style:'display:inline') %>
    <h3 style="margin:0px; margin-left:10px; display:inline;">Location</h3>
  </div>
  <div style="margin-top:5px;">
    <h4 style="display:inline; margin-left:55px;"><%= @business["location"]["city"]%>  </h4>
    <h4 style="display:inline;"><%= @business["location"]["zip_code"]%>  </h4>
    <h4 style="display:inline;"><%= @business["location"]["state"]%> |</h4>
  </div>
  <div style="margin-top:5px;">
    <h4 style="display:inline; margin-left:55px;"><%= @business["location"]["address1"]%> |</h4>
  </div>
  <div style="margin-top:5px;">
    <h4 style="display:inline; margin-left:55px;"> <%= @business["location"]["cross_streets"]%> |</h4>
  </div>

  <div style="margin-top:30px; display:flex; align-items: center;">
    <%= image_tag("smartphone.png", width:'45px', style:'display:inline') %>
    <h3 style="margin:0px; margin-left:10px;display:inline;">Contact <%= @business["display_phone"]%> </h3>
  </div>

  <div style="margin-top:30px; display:flex; align-items: center;">
    <%= image_tag("pokeballs.png", width:'45px', style:'display:inline') %>
    <h3 style="margin:0px; margin-left:10px; display:inline;">Overall Rating <%= @business["rating"]%></h3>
  </div>

  
</div>

<div class="container" style="margin-top:60px;">
  <h1> Opening Time </h1>
  <div style="height:1px; border-top: solid #ACC0D8 1px;"></div>
  <% @business["hours"][0]["open"].each do |openday|%>
  <div class ="row" style="margin-top:20px;">
    <h3 class="col-1" style="display: inline;" ><%= @week[openday["day"]]%></h3>
    <h3 class="col-1" style="display: inline; margin-left:20px;" ><%= openday["start"][0,2]%> : </h3><h3 style="display: inline;" ><%= openday["start"][2,4]%></h3>
    <h3 class="col-1" style="display: inline; margin-left:40px;"><%= openday["end"][0,2]%> : </h3><h3 style="display: inline;" ><%= openday["end"][2,4]%></h3>
  </div>
  <% end %>
</div>

 



<% if @reviews != nil and @reviews.empty? == false%>   
<div class="container" style="margin-top:60px;">
  <h1>Reviews</h1>
  <div style="height:1px; border-top: solid #ACC0D8 1px;"></div>

  <div class="row justify-content-evenly">
    <ul class="list-group list-group-flush" style="width:100%;">
      <% @reviews.each do |r|%>
        <div class="row" style="margin-bottom:20px; margin-top:10px;">
          <div class="col-1">
            <img src=<%=r[3]%> style="width:100px; display:inline;">
          </div>
          <div class="col-10" style="margin-left:20px;">
            <% if r[4].to_i == @user.id%>
              <h5><a href="/user"><%= r[0]%></a></h5>
            <% else %>
              <h5><a href=<%="/other_user/" + r[4].to_s%>><%= r[0]%></a></h5>
            <% end %>
            <h3><%= r[2]%></h3>
            <p><%= r[1]%></p>
          </div>
        </div>
      <% end %>
    </ul>
  </div> 
</div>
<% end%>





<footer class="py-5" style="margin-top:100px; background-color:rgb(0,0,0,0.7)">
    <div class="container">
      <p class="m-0 text-center text-white small">Copyright &copy; Pokemon Eat 2021</p>
    </div>
</footer>