<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top" style="">
  <%= image_tag("superball.png", width:'80px') %>
  <a class="navbar-brand" href="#" style="margin-left:5px; font-size:25px;">Pokemon Eat</a>
  <div style="width:60%; margin-left:20%;">
    <%= form_with(url: "/search/" + params[:id].to_s, method: :get, local: true) do |form| %>
      <div style="display:inline;">
        <%= form.text_field :term, :id=>'search_term', :class=>"form-control", :style=>"display:inline; width:20%; border-radius:20px;", :placeholder=>"Find"%>
      </div>
      <div style="display:inline;">
        <%= form.text_field :location, :id => 'search_location', :class=>"form-control insert-location", :style=>"display:inline; width:30%; border-radius:20px;", :placeholder=>"Near"%>
      </div>
      <% if @search_error != nil%>
        <p><%= @search_error%></p>
      <% end%>
      <div style="display:inline;">
        <%= form.submit "Go" , :class=>"btn", :style=>"color:white; font-size:1.25rem;" %>
      </div>
    <% end %>
  </div>
  <div class="col-2 collapse navbar-collapse" id="navbarResponsive">
    <% if @user == nil %>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/welcome">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/welcome">Log In</a>
        </li>
      </ul>
    <% else %>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/user" style="font-size:1.25rem;">
            <img src=<%=@avatar_url%> style="width:65px; display:inline;">
          </a>
        </li>
      </ul>
    <% end %>
  </div>
</nav>



<div style="margin:0px; padding:0px; width:100%;">
  <div class="row" style="margin:0px; width:100%; height:550px; overflow:hidden; background-image: url(<%= @business_background_url %>); background-size:cover;">
  </div>
</div>

<div class="container" >
  <h1>
    Restaurant Details
  </h1>
  <button type="button" class="btn btn-light">
    <%= link_to "Star", "/like/" + @business["id"]%>
  </button>


  <div class="row justify-content-evenly">
    <div class="col-lg-12 col-form-label col-form-label-lg padding weight">Image:</div>
    <div class="col-lg-12 col-form-label col-form-label-lg padding">
      <img src=<%= @business["image_url"]%> style="width:200px;">
    </div>
  </div>

  <div class="row justify-content-evenly">
    <div class="col-lg-12 col-form-label col-form-label-lg padding weight">Name:</div>
    <div class="col-lg-12 col-form-label col-form-label-lg padding">
      <p><%= @business["name"]%></p>
    </div>
  </div>

  <div class="row justify-content-evenly">
    <div class="col-lg-12 col-form-label col-form-label-lg padding weight">Closed:</div>
    <div class="col-lg-12 col-form-label col-form-label-lg padding">
      <p><%= @business["is_closed"]%></p>
    </div>
  </div>

  <div class="row justify-content-evenly">
    <div class="col-lg-12 col-form-label col-form-label-lg padding weight">Phone:</div>
    <div class="col-lg-12 col-form-label col-form-label-lg padding">
      <p><%= @business["display_phone"]%></p>
    </div>
  </div>

  <div class="row justify-content-evenly">
    <div class="col-lg-12 col-form-label col-form-label-lg padding weight">Location:</div>
    <div class="col-lg-12 col-form-label col-form-label-lg padding">
      <p><%= @business["location"]["address1"]%></p>
    </div>
  </div>

  <div class="row justify-content-evenly">
    <div class="col-lg-12 col-form-label col-form-label-lg padding weight">Price:</div>
    <div class="col-lg-12 col-form-label col-form-label-lg padding">
      <p><%= @business["price"]%></p>
    </div>
  </div>

  <div class="row justify-content-evenly">
    <div class="col-lg-12 col-form-label col-form-label-lg padding weight">Rating:</div>
    <div class="col-lg-12 col-form-label col-form-label-lg padding">
      <p><%= @business["rating"]%></p>
    </div>
  </div>
</div>





<% if @reviews != nil and @reviews.empty? == false%>   
  <div class="container" >
    <h1>Users' Reviews</h1>
    <div class="row justify-content-evenly">
      <ul class="list-group list-group-flush">
        <% @reviews.each do |r|%>
          <li class="list-group-item">
            <p>From user:<%= r.user_id%></p>
            <p><%= r.review%></p> 
            <p><%= r.updated_at%></p>
            <p><%= @user.id%></p>
            <% if r.user_id.to_s != @user.id.to_s %>
              <p><%= link_to "visit this user", "/other_user/" + r.user_id%></p>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div> 
  </div>
<% end%>

<div class="container" >
  <div class="row justify-content-evenly">
    <button type="button" class="btn btn-primary">
      <%= link_to "Write a Review", "/business/" + @business["id"] + "/review"%>
    </button> 
    <button type="button" class="btn btn-primary" style="margin-left:10px;">
      <%= link_to "Back to home page", "/home"%>
    </button> 
  </div>
</div>






