<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top" style="">
  <%= image_tag("superball.png", width:'80px') %>
  <a class="navbar-brand" href="#" style="margin-left:5px; font-size:25px;">Pokemon Eat</a>
  <div style="width:60%; margin-left:20%;">
    <%= form_with(url: "/search/" + params[:id].to_s, method: :get, local: true) do |form| %>
      <div style="display:inline;">
        <%= form.text_field :term, :id=>'search_term', :class=>"form-control", :style=>"display:inline; width:20%; border-radius:20px;", :placeholder=>"Find Cuisine"%>
      </div>
      <div style="display:inline;">
        <%= form.text_field :location, :id => 'search_location', :class=>"form-control insert-location", :style=>"display:inline; width:30%; border-radius:20px;", :placeholder=>"Near"%>
      </div>
      <% if @search_error != nil%>
        <p><%= @search_error%></p>
      <% end%>
      <div style="display:inline;">
        <%= form.submit "Go" , :class=>"btn", :style=>"color:white; font-size:1.25rem;" %>
      </div>
    <% end %>
  </div>
  <div class="col-2 collapse navbar-collapse" id="navbarResponsive">
    <% if @user == nil %>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/welcome">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/welcome">Log In</a>
        </li>
      </ul>
    <% else %>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/user" style="font-size:1.25rem;">
            <img src=<%=@avatar_url%> style="width:65px; display:inline;">
          </a>
        </li>
      </ul>
    <% end %>
  </div>
</nav>




<div  style="margin:0px; width:100%; height:700px; overflow:hidden; background-image: url('/assets/1.jpeg'); background-size:cover;">
    <div class="row" style="width:100%; margin:0px; margin-top:200px; padding:0px; color:white; display: flex; 
              align-items: center; 
              justify-content: center;">
      <h1 class="">GUESS</h1>
    </div>
    <div class="row" style="width:100%; margin:0px; padding:0px; color:white; display: flex; 
              align-items: center; 
              justify-content: center;">
      <h2 class="">Get restaurant based on your preference!</h2>
    </div>
    <div class="row" style="width:100%; margin:0px; padding:0px; color:white; display: flex; 
              align-items: center; 
              justify-content: center;">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#recommendModal" style="margin-top:200px;">
        Recommend
      </button>
    </div>
</div>

<!-- The Modal -->
<div class="modal fade" id="recommendModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Recommend</h4>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
      <h4><%= @question.question %><h4>
      <% if @question.question_type == 'choose' then%>
        <%= form_with(url: "/recommend/" + params[:id].to_s, method: :get, local: true) do |form| %>
          <%= form.label :choice, "Pick one ~", :class=>"col-lg-12 col-form-label col-form-label-lg padding" %>
          <%= form.select :choice, @options, {}, :class=>"form-control" %>
          <%= form.label :location, "Place", :class=>"col-lg-12 col-form-label col-form-label-lg padding" %>
          <%= form.text_field :location, :id => 'recommend_location',:class=>"form-control insert-location" %>
          <%= form.submit "Recommend" , :class=>"btn btn-primary", :style=>"margin-top:20px;"%>
        <% end %>
      <% elsif @question.question_type == 'fill' %>
        <%= form_with(url: "/recommend/" + params[:id].to_s, method: :get, local: true) do |form| %>
          <%= form.label :choice, "Input your answer here:", :class=>"col-lg-12 col-form-label col-form-label-lg padding" %>
          <%= form.text_field :choice, :class=>"form-control" %>
          <%= form.label :location, "Place", :class=>"col-lg-12 col-form-label col-form-label-lg padding" %>
          <%= form.text_field :location, :class=>"form-control insert-location" %>
          <%= form.submit "Recommend" , :class=>"btn btn-primary", :style=>"margin-top:20px;"%>
        <% end %>
      <% end %>
      </div>

    </div>
  </div>
</div>



<div class="container" style="margin-top:40px;">
  <h1 style=" font-family: 'Times New Roman', Times, serif; 
              display: flex; 
              align-items: center; 
              justify-content: center;">Trending Restaurants</h3>
  <div style="margin-bottom:10px; height:1px; border-top: solid #ACC0D8 1px;"></div>
  <div class="row justify-content-evenly">
    <% if @businesses != nil and @businesses.empty? == false%>   
      <% @businesses.each do |business| %>
        <div class="col-4"> 
          <div class="card mb-3">
            <img src=<%= business["image_url"]%> class="card-img-top" style="max-height:300px;object-fit:cover;">
            <div class="card-body">
              <h5 class="card-title business"><%=link_to(business["name"], '/business/' + business["id"] ) %></h5>
              <div>
                <% business["categories"].each do |e| %>
                  <p class="card-text" style="display:inline;">    
                    <%= e["title"] %>              
                  </p>
                <% end %>
              </div>
              <div>
                <% business["location"]["display_address"].each do |e| %>
                  <p class="card-text" style="display:inline;">    
                    <%= e %>              
                  </p>
                <% end %>
              </div>
              <p class="card-text"><%= business["display_phone"] %></p>
              <p class="card-text"><%= business["rating"] %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="container" style="margin-top:80px;">
  <h1 style=" font-family: 'Times New Roman', Times, serif; 
              display: flex; 
              align-items: center; 
              justify-content: center;">Booked Events</h3>
  <div style="height:1px; border-top: solid #ACC0D8 1px;"></div>
  <div class="vw-50" style="margin-top:5px; width:100%;">
      <div class="card text-center" style="border:0px;">
        <div class="card-body">
          <h4 class="card-text">Find out events near you!</h4>
          <%= form_with(url: "/events/" + params[:id].to_s, method: :get, local: true) do |form| %>
          <div style="display:inline;">
            <%= form.label :location, "Let's Go To", :class=>"col-lg-12 col-form-label col-form-label-lg padding", :style=>"display:inline;"%>
            <%= form.text_field :location, :id => 'event_location', :class=>"form-control insert-location", :style=>"display:inline; width:50%;"%>
          </div>
          <div style="display:inline;">
            <%= form.submit "Go" , :class=>"btn btn-primary" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  <div class="row justify-content-evenly">
      <% if @events != nil and @events.empty? == false%>   
        <% @events.each do |event| %>
          <div class="col-4"> 
            <div class="card mb-3" >
              <img src=<%= event["image_url"]%> class="card-img-top" style="overflow:hidden;">
              <div class="card-body">
                <h5 class="card-title business"><%=link_to(event["name"], '/event/' + event["id"].to_s ) %></h5>
                <div>
                  <p class="card-text" style="display:inline;">    
                    <%= event["category"] %>              
                  </p>
                </div>
                <div>
                  <% event["location"]["display_address"].each do |e| %>
                    <p class="card-text" style="display:inline;">    
                      <%= e %>              
                    </p>
                  <% end %>
                </div>
                <p class="card-text"><%= event["display_phone"] %></p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
  </div>
</div>


<div class="container" style="padding-top:20px;">
  <% if @user == nil%>
    <h1 style=" font-family: 'Times New Roman', Times, serif; 
              display: flex; 
              align-items: center; 
              justify-content: center;">Please Log In or Sign Up to view Your Reviews</h3>
    <div style="height:1px; border-top: solid #ACC0D8 1px;"></div>
  <% elsif @user_reviews != []%>
    <h1 style=" font-family: 'Times New Roman', Times, serif; 
              display: flex; 
              align-items: center; 
              justify-content: center;">My Reviews</h3>
    <div style="height:1px; border-top: solid #ACC0D8 1px;"></div>
    <div class="row justify-content-evenly">
      <ul class="list-group list-group-flush" style="width:100%;">
        <% @user_reviews.each do |r|%>
          <div class="row" style="margin-bottom:20px; margin-top:10px;">
            <div class="col-1">
              <img src=<%=@avatar_url%> style="width:100px; display:inline;">
            </div>
            <div class="col-10" style="margin-left:20px;">
              <h3><%= r[0]%></h3>
              <h5><%= r[3] %></h5>
              <p><%= r[2]%></p>
            </div>
          </div>
        <% end %>
      </ul>
    </div> 
  <% elsif @user_reviews == [] %>
     <div class="row justify-content-evenly">
      <h3>No reviews currently.</h3>
     </div>
  <% end %>
</div>



<!-- The Modal -->
<div class="modal fade" id="searchModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Search</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <%= form_with(url: "/search/" + params[:id].to_s, method: :get, local: true) do |form| %>
          <%= form.label :term, "Term:", :class=>"col-lg-12 col-form-label col-form-label-lg padding" %>
          <%= form.text_field :term, :class=>"form-control" %>
          <%= form.label :location, "Location:", :class=>"col-lg-12 col-form-label col-form-label-lg padding" %>
          <%= form.text_field :location, :class=>"form-control insert-location" %>
          <%= form.submit "Search" , :class=>"btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>






<!-- The Modal -->
<div class="modal fade" id="eventModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Search</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <%= form_with(url: "/event/" + params[:id].to_s, method: :get, local: true) do |form| %>
          <%= form.label :location, "Location:", :class=>"col-lg-12 col-form-label col-form-label-lg padding" %>
          <%= form.text_field :location, :class=>"form-control insert-location" %>
          <%= form.submit "Find" , :class=>"btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>


<span class="likebtn-wrapper" data-theme="review" data-white_label="true" data-identifier="item_1"></span>



<footer class="py-5" style="margin-top:100px; background-color:rgb(0,0,0,0.7)">
    <div class="container">
      <p class="m-0 text-center text-white small">Copyright &copy; Pokemon Eat 2021</p>
    </div>
</footer>



<%= stylesheet_link_tag "application", media: "all" %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://js.api.here.com/v3/3.1/mapsjs-core.js" type="text/javascript" charset="utf-8"></script>
<script src="https://js.api.here.com/v3/3.1/mapsjs-service.js" type="text/javascript" charset="utf-8"></script>
<script>
  var getLocation = function(callback) {
    console.log("1");
    var platform = new H.service.Platform({
        "apikey": "E9KedL51q-cXtnB-wozFyrcK92qCagiCQ9f0ETVx114"
    });
    var geocoder = platform.getSearchService();
    var loc;
    console.log("2");
    if(navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(position => {
            geocoder.reverseGeocode(
                {
                  limit: 1,
                  at: position.coords.latitude + "," + position.coords.longitude
                }, data => {
                  loc = data["items"][0]["title"];
                  console.log(loc);
                  insertLocation(loc);
                }, error => {
                  console.error(error);
                }
            );
        });
    } else {
        console.error("Geolocation is not supported by this browser!");
    }
    callback();
  }
  
  var insertLocation = function(loc){
    $('.insert-location').val(loc);
    console.log("4");
  }
  getLocation(insertLocation);
</script>

<script>
  (function(d,e,s){
    if(d.getElementById("likebtn_wjs"))return;
    
    a=d.createElement(e);
    m=d.getElementsByTagName(e)[0];
    a.async=1;
    a.id="likebtn_wjs";
    a.src=s;
    m.parentNode.insertBefore(a, m)
  })(document,"script","//w.likebtn.com/js/w/widget.js");
</script>
