<nav class="navbar " style="background: rgba(0,0,0,0);">
  <div class="container-fluid" >
    <div class="navbar-brand" style="display:flex; align-items:center;">
      <%= image_tag("superball.png", width: '50px') %>
      <h1 style="padding-left:5px;">Pokemon Eat</h1>
    </div>
    <span class="navbar-text">
      <% if @user == nil %>
        <button class="btn btn-outline-success" >
          <%= link_to "Log In", "/" %>
        </button>
        <button class="btn btn-outline-success" >
          <%= link_to "Sign Up", "/" %>
        </button>
      <% else %>
        <%= link_to @user.email, "/user" %>
      <% end%>
    </span>
  </div>
</nav>


<div style="margin:0px; padding:0px;">
  <div class="row" >
    <div class="vw-33" style="width:33%;">
      <div class="card text-center" style="height: 300px;">
        <div class="card-body">
          <h3 class="card-title">SEARCH</h3>
          <h4 class="card-text">Hunting for good for yourself!</h4>
          <%= form_with(url: "/search/" + params[:id].to_s, method: :get, local: true) do |form| %>
            <div>
              <%= form.label :term, "Find", :class=>"col-lg-12 col-form-label col-form-label-lg padding", :style=>"display:inline;" %>
              <%= form.text_field :term, :class=>"form-control", :style=>"display:inline; width:50%;"%>
            </div>
            <div>
              <%= form.label :location, "Near", :class=>"col-lg-12 col-form-label col-form-label-lg padding", :style=>"display:inline;"%>
              <%= form.text_field :location, :class=>"form-control insert-location", :style=>"display:inline; width:50%;"%>
            </div>
            <% if @search_error != nil%>
            <p><%= @search_error%></p>
            <% end%>
            <%= form.submit "Search" , :class=>"btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="vw-33" style="width:33%; color:">
      <div class="card text-center" style="height: 300px;">
        <div class="card-body">
          <h3 class="card-title">GUESS</h3>
          <h4 class="card-text">Get restaurant based on your preference!</h4>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#recommendModal" style="margin-top:50px;">
            Recommend
          </button>
        </div>
      </div>
    </div>

    <div class="vw-33" style="width:33%;">
      <div class="card text-center" style="height: 300px;">
        <div class="card-body">
          <h3 class="card-title">EVENT</h3>
          <h4 class="card-text">Find out events around you!</h4>
          <%= form_with(url: "/events/" + params[:id].to_s, method: :get, local: true) do |form| %>
            <%= form.label :location, "Location:", :class=>"col-lg-12 col-form-label col-form-label-lg padding", :style=>"display:inline;"%>
            <%= form.text_field :location, :class=>"form-control insert-location", :style=>"display:inline; width:50%;"%>
            <%= form.submit "Find" , :class=>"btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container" style="padding-top:20px;">
  <h3>Trending Restaurants</h3>
  <div class="row justify-content-evenly">
      <% if @businesses.empty? == false%>   
        <% @businesses.each do |business| %>
          <div class="col-4"> 
            <div class="card mb-3" >
              <img src=<%= business["image_url"]%> class="card-img-top">
              <div class="card-body">
                <h5 class="card-title business"><%= business["name"] %></h5>
                <div>
                  <% business["categories"].each do |e| %>
                    <p class="card-text" style="display:inline;">    
                      <%= e["title"] %>              
                    </p>
                  <% end %>
                </div>
                <div>
                  <% business["location"]["display_address"].each do |e| %>
                    <p class="card-text" style="display:inline;">    
                      <%= e %>              
                    </p>
                  <% end %>
                </div>
                <p class="card-text"><%= business["display_phone"] %></p>
                <p class="card-text"><%= business["rating"] %></p>
                <p class="card-text">
                  <%=link_to("Detail", '/business/' + business["id"] ) %>
                </p>
                <%# <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small>#</p> %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
  </div>
</div>


<div class="container" style="padding-top:20px;">
  <h3>Your Recent Reviews</h3>
  <% if @user_reviews != []%>
    <div class="row justify-content-evenly">
      <ul class="list-group list-group-flush" style="width:100%;">
        <% @user_reviews.each do |r|%>
          <li class="list-group-item">
            <p>For <%= r.business_id%></p>
            <p><%= r.review%></p> 
            <p><%= r.updated_at%></p>
          </li>
        <% end %>
      </ul>
    </div>  
  <% end %>
</div>



<!-- The Modal -->
<div class="modal fade" id="searchModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Search</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <%= form_with(url: "/search/" + params[:id].to_s, method: :get, local: true) do |form| %>
          <%= form.label :term, "Term:", :class=>"col-lg-12 col-form-label col-form-label-lg padding" %>
          <%= form.text_field :term, :class=>"form-control" %>
          <%= form.label :location, "Location:", :class=>"col-lg-12 col-form-label col-form-label-lg padding" %>
          <%= form.text_field :location, :class=>"form-control insert-location" %>
          <%= form.submit "Search" , :class=>"btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>



<!-- The Modal -->
<div class="modal fade" id="recommendModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Recommend</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
      <p><%= @question.question %><p>
      <% if @question.question_type == 'choose' then%>
        <%= form_with(url: "/recommend/" + params[:id].to_s, method: :get, local: true) do |form| %>
          <%= form.label :choice, "Select your answer here:", :class=>"col-lg-12 col-form-label col-form-label-lg padding" %>
          <%= form.select :choice, @options, {}, :class=>"form-control" %>
          <%= form.label :location, "Location:", :class=>"col-lg-12 col-form-label col-form-label-lg padding" %>
          <%= form.text_field :location, :class=>"form-control insert-location" %>
          <%= form.submit "Recommend!" , :class=>"btn btn-primary" %>
        <% end %>
      <% elsif @question.question_type == 'fill' %>
        <%= form_with(url: "/recommend/" + params[:id].to_s, method: :get, local: true) do |form| %>
          <%= form.label :choice, "Input your answer here:", :class=>"col-lg-12 col-form-label col-form-label-lg padding" %>
          <%= form.text_field :choice, :class=>"form-control" %>
          <%= form.label :location, "Location:", :class=>"col-lg-12 col-form-label col-form-label-lg padding" %>
          <%= form.text_field :location, :class=>"form-control insert-location" %>
          <%= form.submit "Recommend!" , :class=>"btn btn-primary" %>
        <% end %>
      <% end %>
      </div>

     
    </div>
  </div>
</div>


<!-- The Modal -->
<div class="modal fade" id="eventModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Search</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <%= form_with(url: "/event/" + params[:id].to_s, method: :get, local: true) do |form| %>
          <%= form.label :location, "Location:", :class=>"col-lg-12 col-form-label col-form-label-lg padding" %>
          <%= form.text_field :location, :class=>"form-control insert-location" %>
          <%= form.submit "Find" , :class=>"btn btn-primary" %>
        <% end %>
      </div>

     

    </div>
  </div>
</div>









<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://js.api.here.com/v3/3.1/mapsjs-core.js" type="text/javascript" charset="utf-8"></script>
<script src="https://js.api.here.com/v3/3.1/mapsjs-service.js" type="text/javascript" charset="utf-8"></script>
<script>
  var getLocation = function(callback) {
    console.log("1");
    var platform = new H.service.Platform({
        "apikey": "E9KedL51q-cXtnB-wozFyrcK92qCagiCQ9f0ETVx114"
    });
    var geocoder = platform.getSearchService();
    var loc;
    console.log("2");
    if(navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(position => {
            geocoder.reverseGeocode(
                {
                  limit: 1,
                  at: position.coords.latitude + "," + position.coords.longitude
                }, data => {
                  loc = data["items"][0]["title"];
                  console.log(loc);
                  insertLocation(loc);
                }, error => {
                  console.error(error);
                }
            );
        });
    } else {
        console.error("Geolocation is not supported by this browser!");
    }
    callback();
  }
  
  var insertLocation = function(loc){
    $('.insert-location').val(loc);
    console.log("4");
  }

  getLocation(insertLocation);
  
</script>