<nav class="navbar " style="background: rgba(0,0,0,0);">
  <div class="container-fluid" >
    <div class="navbar-brand" style="display:flex; align-items:center;">
      <%= image_tag("superball.png", width: '50px') %>
      <strong style="padding-left:5px;">Pokemon Eat</strong>
    </div>
    <span class="navbar-text">
      <% if @user == nil %>
        <button class="btn btn-outline-success" >
          <%= link_to "Log In", "/" %>
        </button>
        <button class="btn btn-outline-success" >
          <%= link_to "Sign Up", "/" %>
        </button>
      <% else %>
        <%= link_to @user.email, "/user" %>
      <% end%>
    </span>
  </div>
</nav>


<div style="margin:0px; padding:0px;">
  <div class="row" >
    <div class="vw-33" style="width:33%; color:">
      <div class="card text-center" style="height: 300px;">
        <div class="card-body">
          <h5 class="card-title">Let us guess</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#recommendModal">
            Recommend
          </button>
        </div>
      </div>
    </div>

    <div class="vw-33" style="width:33%;">
      <div class="card text-center" style="height: 300px;">
        <div class="card-body">
          <h5 class="card-title">Search for yourself!</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#searchModal">
            Search
          </button>
        </div>
      </div>
    </div>

    <div class="vw-33" style="width:33%;">
      <div class="card text-center" style="height: 300px;">
        <div class="card-body">
          <h5 class="card-title">Event around you!</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#eventModal">
            Event
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row justify-content-evenly">
      <% if @from_other_page %>
        <div>
          please input your term and location
        </div>
      <% elsif @search_error != nil %>
        <p><%= @search_error %></p>
      <% elsif @businesses.empty? == false%>   
        <% @businesses.each do |business| %>
          <div class="col-4"> 
            <div class="card mb-3" >
              <img src=<%= business["image_url"]%> class="card-img-top">
              <div class="card-body">
                <h5 class="card-title business"><%= business["name"] %></h5>
                <div>
                  <% business["categories"].each do |e| %>
                    <p class="card-text" style="display:inline;">    
                      <%= e["title"] %>              
                    </p>
                  <% end %>
                </div>
                <div>
                  <% business["location"]["display_address"].each do |e| %>
                    <p class="card-text" style="display:inline;">    
                      <%= e %>              
                    </p>
                  <% end %>
                </div>
                <p class="card-text"><%= business["display_phone"] %></p>
                <p class="card-text"><%= business["rating"] %></p>
                <p class="card-text">
                  <%=link_to("Detail", '/business/' + business["id"] ) %>
                </p>
                <%# <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small>#</p> %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
  </div>
</div>




<!-- Button to Open the Modal -->


<!-- The Modal -->
<div class="modal fade" id="searchModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Search</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <%= form_with(url: "/search/" + params[:id].to_s, method: :get, local: true) do |form| %>
          <%= form.label :term, "Term:", :class=>"col-lg-12 col-form-label col-form-label-lg padding" %>
          <%= form.text_field :term, :class=>"form-control" %>
          <%= form.label :location, "Location:", :class=>"col-lg-12 col-form-label col-form-label-lg padding" %>
          <%= form.text_field :location, :class=>"form-control insert-location" %>
          <%= form.submit "Search" , :class=>"btn btn-primary" %>
        <% end %>
      </div>

     

    </div>
  </div>
</div>



<!-- The Modal -->
<div class="modal fade" id="recommendModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Recommend</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
      <p><%= @question.question %><p>
      <% if @question.question_type == 'choose' then%>
        <%= form_with(url: "/recommend/" + params[:id].to_s, method: :get, local: true) do |form| %>
          <%= form.label :choice, "Select your answer here:", :class=>"col-lg-12 col-form-label col-form-label-lg padding" %>
          <%= form.select :choice, @options, {}, :class=>"form-control" %>
          <%= form.label :location, "Location:", :class=>"col-lg-12 col-form-label col-form-label-lg padding" %>
          <%= form.text_field :location, :class=>"form-control insert-location" %>
          <%= form.submit "Recommend!" , :class=>"btn btn-primary" %>
        <% end %>
      <% elsif @question.question_type == 'fill' %>
        <%= form_with(url: "/recommend/" + params[:id].to_s, method: :get, local: true) do |form| %>
          <%= form.label :choice, "Input your answer here:", :class=>"col-lg-12 col-form-label col-form-label-lg padding" %>
          <%= form.text_field :choice, :class=>"form-control" %>
          <%= form.label :location, "Location:", :class=>"col-lg-12 col-form-label col-form-label-lg padding" %>
          <%= form.text_field :location, :class=>"form-control insert-location" %>
          <%= form.submit "Recommend!" , :class=>"btn btn-primary" %>
        <% end %>
      <% end %>
      </div>

     
    </div>
  </div>
</div>


<!-- The Modal -->
<div class="modal fade" id="eventModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Search</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <%= form_with(url: "/event/" + params[:id].to_s, method: :get, local: true) do |form| %>
          <%= form.label :location, "Location:", :class=>"col-lg-12 col-form-label col-form-label-lg padding" %>
          <%= form.text_field :location, :class=>"form-control insert-location" %>
          <%= form.submit "Find" , :class=>"btn btn-primary" %>
        <% end %>
      </div>

     

    </div>
  </div>
</div>









<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://js.api.here.com/v3/3.1/mapsjs-core.js" type="text/javascript" charset="utf-8"></script>
<script src="https://js.api.here.com/v3/3.1/mapsjs-service.js" type="text/javascript" charset="utf-8"></script>
<script>
  var getLocation = function(callback) {
    console.log("1");
    var platform = new H.service.Platform({
        "apikey": "E9KedL51q-cXtnB-wozFyrcK92qCagiCQ9f0ETVx114"
    });
    var geocoder = platform.getSearchService();
    var loc;
    console.log("2");
    if(navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(position => {
            geocoder.reverseGeocode(
                {
                  limit: 1,
                  at: position.coords.latitude + "," + position.coords.longitude
                }, data => {
                  loc = data["items"][0]["title"];
                  console.log(loc);
                  insertLocation(loc);
                }, error => {
                  console.error(error);
                }
            );
        });
    } else {
        console.error("Geolocation is not supported by this browser!");
    }
    callback();
  }
  
  var insertLocation = function(loc){
    $('.insert-location').val(loc);
    console.log("4");
  }

  getLocation(insertLocation);
  
</script>