<h2>New User Questionnaire </h2>
<%= form_with url: "/question_update", method: :post do |form| %>
  <%= form.label :food_preference, "What type of restaurants do you enjoy? " %>
  <%= form.text_field :food_preference %>
  <%= form.label :restriction, "Do you have any dietary restrictions?" %>
  <%= form.text_field :restriction %>
  <%= form.submit "Submit" %>
<% end %>