<h1>Search what you want here:</h1>
<div class="col-lg-3 padding">
  <%= form_with(url: "/search/" + params[:id].to_s, method: :get, local: true) do |form| %>
    <%= form.label :term, "Term:", :class=>"col-lg-12 col-form-label col-form-label-lg padding" %>
    <%= form.text_field :term, :class=>"form-control" %>
    <%= form.label :location, "Location:", :class=>"col-lg-12 col-form-label col-form-label-lg padding" %>
    <%= form.text_field :location, :class=>"form-control" %>
    <%= form.submit "Search" , :class=>"btn btn-primary btn-block" %>
  <% end %>
</div>

<div class="col-lg-3 padding">
  <% if @from_other_page %>
    <div class="col-lg-12 col-form-label col-form-label-lg padding">
      please input your term and location
    </div>
  <% elsif @search_error != nil %>
    <p><%= @search_error %></p>
  <% elsif @businesses.empty? == false%>
    <h1>Searching Results</h1>
    <p> Total <%= @businesses.size %> results below.</p>
    <ul>
      <% @businesses.each do |business| %>
        <li class="business"> <%= business["name"] %></li>
      <% end %>
    </ul>
  <% end %>
</div>


<div class="col-lg-12 col-form-label col-form-label-lg padding">
  Click <%= link_to 'here', '/users/'+params[:id].to_s, :class => "color" %> and go back to your profile
</div>


<style>
  .padding{
      padding-left: 0;
  }
  .btn-block{
      margin-top: 15px;
  }
  .color{
      color: #17a2b8;
      font-weight:bold;
  }
</style>