<h1>Search</h1>
<%= form_with(url: "/search", method: :get, local: true) do |form| %>
    <%= form.label :term, "Term:" %>
    <%= form.text_field :term %>
    <%= form.label :location, "Location:" %>
    <%= form.text_field :location %>
    <%= form.submit "Search" %>
<% end %>

<% if @from_other_page %>
    <p>please input your term and location</p>
<% elsif @search_error != nil %>
    <p><%= @search_error %></p>
<% elsif @businesses.empty? == false%>
    <h1>Searching Results</h1>
    <p> Total <%= @businesses.size %> results below.</p>
    <ul>
        <% @businesses.each do |business| %>
            <li class="business"> <%= business["name"] %></li>
        <% end %>
    </ul>
<% end %>


