<p id="notice"><%= notice %></p>
<h1>Login successfully!</h1>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Confirmed:</strong>
  <%= @user.confirmed %>
</p>

<p>
  <strong>Food preference:</strong>
  <%= @user.food_preference %>
</p>


<%= link_to 'Search', '/search' %>
