<nav class="navbar " style="background: rgba(0,0,0,0);">
  <div class="container-fluid" >
    <div class="navbar-brand" style="display:flex; align-items:center;">
      <%= image_tag("superball.png", width: '50px') %>
      <strong style="padding-left:5px;">Pokemon Eat</strong>
    </div>
    <span class="navbar-text">
      <% if @user == nil %>
        <button class="btn btn-outline-success" >
          <%= link_to "Log In", "/" %>
        </button>
        <button class="btn btn-outline-success" >
          <%= link_to "Sign Up", "/" %>
        </button>
      <% else %>
        <%= link_to @user.email, "/user" %>
      <% end%>
    </span>
  </div>
</nav>




<div class="container">
  <div class="row">
    <div class="col">
      <h1>
        User Profile
      </h1>
    </div>
    <div class="col"></div>
  </div>
  <div class="row">
    <div class="col">
      <h3>First Name</h3> <h5><%= @user.first_name %></h5>
    </div>
    <div class="col">
      <h3>Last Name</h3> <h5><%= @user.last_name %></h5>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h3>Nick Name</h3> <h5><%= @user.nick_name %></h5>
    </div>
    <div class="col"></div>
  </div>
  <div class="row">
    <div class="col">
      <h3>Gender</h3> <h5><%= @user.gender %></h5>
    </div>
    <div class="col"></div>
  </div>
  <div class="row">
    <div class="col">
      <h3>Age</h3> <h5><%= @user.age %></h5>
    </div>
    <div class="col"></div>
  </div>
  <div class="row">
    <div class="col">
      <h3>Food Preference</h3> <h5><%= @user.food_preference %></h5>
    </div>
    <div class="col"></div>
  </div>
  <div class="row">
    <div class="col">
      <h3>Email</h3> <h5><%= @user.email %></h5>
    </div>
    <div class="col"></div>
  </div>
  <div class="row">
    <div class="col">
      <h3>Email is confirmed</h3> <h5><%= @user.confirmed %></h5>
    </div>
    <div class="col"></div>
  </div>
</div>



<div class="bs-example">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a href="#preference" class="nav-link" data-toggle="tab">Food Preference</a>
        </li>
        <li class="nav-item">
            <a href="#home" class="nav-link active" data-toggle="tab">My Reviews</a>
        </li>
        <li class="nav-item">
            <a href="#profile" class="nav-link" data-toggle="tab">Starred Restaurants</a>
        </li>
        <li class="nav-item">
            <a href="#messages" class="nav-link" data-toggle="tab">Booked Events</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade show active" id="preference">
            <h4 class="mt-2">Food Preference</h4>
        </div>
        <div class="tab-pane fade show active" id="home">
            <h4 class="mt-2">Reviews</h4>
        </div>
        <div class="tab-pane fade" id="profile">
            <h4 class="mt-2">Restaurants</h4>
        </div>
        <div class="tab-pane fade" id="messages">
            <h4 class="mt-2">Events</h4>
        </div>
    </div>
</div>

<%= link_to 'Edit my profile', '/edit_profile' %>
<%= link_to 'Back to home page', '/home' %>
<%= link_to 'Log out', '/' %>

<style>
  .padding{
      padding-left: 0;
  }
  .reminder{
      margin-top: 10px;
      margin-bottom: 10px;
  }
  .weight{
      font-weight:bold;
  }
</style>
