<nav class="navbar " style="background: rgba(0,0,0,0);">
  <div class="container-fluid" >
    <div class="navbar-brand" style="display:flex; align-items:center;">
      <%= image_tag("superball.png", width: '50px') %>
      <strong style="padding-left:5px;">Pokemon Eat</strong>
    </div>
    <span class="navbar-text">
      <% if @user == nil %>
        <button class="btn btn-outline-success" >
          <%= link_to "Log In", "/" %>
        </button>
        <button class="btn btn-outline-success" >
          <%= link_to "Sign Up", "/" %>
        </button>
      <% else %>
        <%= link_to @user.email, "/user" %>
      <% end%>
    </span>
  </div>
</nav>




<div class="container">
  <div class="row">
    <div class="col">
      <h1>
        User Profile
      </h1>
    </div>
    <div class="col"></div>
  </div>
  <div class="row">
    <div class="col">
      <h3>First Name</h3> <h5><%= @user.first_name %></h5>
    </div>
    <div class="col">
      <h3>Last Name</h3> <h5><%= @user.last_name %></h5>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h3>Nick Name</h3> <h5><%= @user.nick_name %></h5>
    </div>
    <div class="col"></div>
  </div>
  <div class="row">
    <div class="col">
      <h3>Gender</h3> <h5><%= @user.gender %></h5>
    </div>
    <div class="col"></div>
  </div>
  <div class="row">
    <div class="col">
      <h3>Age</h3> <h5><%= @user.age %></h5>
    </div>
    <div class="col"></div>
  </div>
 
  <div class="row">
    <div class="col">
      <h3>Email</h3> <h5><%= @user.email %></h5>
    </div>
    <div class="col"></div>
  </div>
  <div class="row">
    <div class="col">
      <h3>Email is confirmed</h3> <h5><%= @user.confirmed %></h5>
    </div>
    <div class="col"></div>
  </div>
</div>


<div class="container">
  <div class="bs-example">
    <ul class="nav nav-tabs justify-content-center">
        <li class="nav-item">
            <a href="#preference" class="nav-link" data-toggle="tab">Food Preference</a>
        </li>
        <li class="nav-item">
            <a href="#review" class="nav-link active" data-toggle="tab">My Reviews</a>
        </li>
        <li class="nav-item">
            <a href="#restaurants" class="nav-link" data-toggle="tab">Starred Restaurants</a>
        </li>
        <li class="nav-item">
            <a href="#events" class="nav-link" data-toggle="tab">Booked Events</a>
        </li>
        <li class="nav-item">
            <a href="#following" class="nav-link" data-toggle="tab">Following</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade show active" id="preference">
            <h4 class="mt-2">
              <% @food_list.each do |f|%>
                <p><%= f[0]%>   <%= f[1]%></p>
              <% end %>
            </h4>
        </div>
        <div class="tab-pane fade" id="review">
            <h4 class="mt-2">
              <% @reviews.each do |r|%>
                <p><%= r.review%></p>
              <% end %>
            </h4>
        </div>
        <div class="tab-pane fade" id="restaurants">
            <h4 class="mt-2">
              <% @liked_res.each do |l|%>
                <p><%= l.business_id%></p>
              <% end %>
            </h4>
        </div>
        <div class="tab-pane fade" id="events">
            <h4 class="mt-2">
              <% @booked_events.each do |b|%>
                <p><%= b.event_id%></p>
              <% end %>
            </h4>
        </div>
        <div class="tab-pane fade" id="following">
            <h4 class="mt-2">
              <% @following.each do |f|%>
                <p><%= f.friend_id%></p>
              <% end %>
            </h4>
        </div>
    </div>
  </div>
</div>

<%= link_to 'Edit my profile', '/edit_profile' %>
<%= link_to 'Back to home page', '/home' %>
<%= link_to 'Log out', '/' %>

<style>
  .padding{
      padding-left: 0;
  }
  .reminder{
      margin-top: 10px;
      margin-bottom: 10px;
  }
  .weight{
      font-weight:bold;
  }
</style>
