<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top" style="">
  <%= image_tag("superball.png", width:'80px') %>
  <a class="navbar-brand" href="/home" style="margin-left:5px; font-size:25px;">Pokemon Eat</a>
  <div style="width:60%; margin-left:20%;">
    <%= form_with(url: "/search/" + params[:id].to_s, method: :get, local: true) do |form| %>
      <div style="display:inline;">
        <%= form.text_field :term, :id=>'search_term', :class=>"form-control", :style=>"display:inline; width:20%; border-radius:20px;", :placeholder=>"Find"%>
      </div>
      <div style="display:inline;">
        <%= form.text_field :location, :id => 'search_location', :class=>"form-control insert-location", :style=>"display:inline; width:30%; border-radius:20px;", :placeholder=>"Near"%>
      </div>
      <% if @search_error != nil%>
        <p><%= @search_error%></p>
      <% end%>
      <div style="display:inline;">
        <%= form.submit "Go" , :class=>"btn", :style=>"color:white; font-size:1.25rem;" %>
      </div>
    <% end %>
  </div>
  <div class="col-2 collapse navbar-collapse" id="navbarResponsive">
    <% if @user == nil %>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/welcome">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/welcome">Log In</a>
        </li>
      </ul>
    <% else %>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/user" style="font-size:1.25rem;">
            <img src=<%=@avatar_url%> style="width:65px; display:inline;">
          </a>
        </li>
      </ul>
    <% end %>
  </div>
</nav>





<div style="margin:0px; padding:0px; width:100%;">
  <div class="row" style="margin:0px; width:100%; height:550px; overflow:hidden; background-image: url(<%= @user_background_url%>); background-size:cover;">
  </div>
</div>




<div class="container">
  <div class="row">
    <div class="col-4" style="top:-70px;">
      <img src=<%=@avatar_url%> style="width:300px;">
    </div>
    <div class="col-8">
      <h2><%= @user.nick_name %><h2>
      <p><%= @user.hometown%></p>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#recommendModal" style="">
        Edit
      </button>      
      <a href=<%= "/"%> class="btn btn-primary" style="display:inline; color:white;">Log Out</a>
      <!-- The Modal -->
      <div class="modal fade" id="recommendModal">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Edit My Profile</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
              <%= form_with(url: "/edit_profile", method: :get, local: true) do |form| %>
                <%= form.label :nick_name, "Nick Name", :class=>"col-lg-12 col-form-label col-form-label-lg padding" %>
                <%= form.text_field :nick_name, :class=>"form-control " %>

                <%= form.label :gender, "Gender", :class=>"col-lg-12 col-form-label col-form-label-lg padding" %>
                <%= form.select :gender, ["Male", "Female", "Other"], {}, :class=>"form-control" %>

                <%= form.label :age, "Age", :class=>"col-lg-12 col-form-label col-form-label-lg padding" %>
                <%= form.text_field :age, :class=>"form-control" %>

                <%= form.label :hometown, "Location", :class=>"col-lg-12 col-form-label col-form-label-lg padding" %>
                <%= form.text_field :hometown, :class=>"form-control insert-location" %>

                <%= form.submit "Save" , :class=>"btn btn-primary" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="container" style="margin-bottom:100px;">
  <div class="row">
    <div class="col-8">
      <div class="bs-example">
        <ul class="nav nav-tabs justify-content-center">
          <li class="nav-item My-Reviews">
              <a href="#review" class="nav-link active" data-toggle="tab">My Reviews</a>
          </li>
          <li class="nav-item Starred-Restaurants">
              <a href="#restaurants" class="nav-link" data-toggle="tab">Starred Restaurants</a>
          </li>
          <li class="nav-item Booked-Events">
              <a href="#events" class="nav-link" data-toggle="tab">Booked Events</a>
          </li>
          <li class="nav-item Following">
              <a href="#following" class="nav-link" data-toggle="tab">Following</a>
          </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="review">
              <% @reviews.each do |r|%>
                <div class="row" style="margin-bottom:20px; margin-top:10px;">
                  <div class="col-2">
                    <img src=<%=@avatar_url%> style="width:100px; display:inline;">
                  </div>
                  <div class="col-10">
                    <h3><%= r[0]%></h3>
                    <h5><%= r[3] %></h5>
                    <p><%= r[2]%></p>
                  </div>
                </div>
              <% end %>
            </div>
            <div class="tab-pane fade" id="restaurants">
                <h4 class="mt-2">
                  <% @liked_res.each do |l|%>
                    <div class="row" style="margin-bottom:30px;">
                      <div class="col-3" >
                        <img src=<%= l["image_url"]%> style="width:150px; height:100px; object-fit:cover; border-radius:5px;">
                      </div>
                      <div class="col-9">
                        <h3 class="card-title" style="margin:0px;"><%= l["name"]%></h3>
                        <p style="margin:0px; display:inline; font-size:18px;"> 
                          <%= l["location"]["address1"]%> | 
                        </p>
                        <p style="margin:0px; display:inline; font-size:18px;">
                          <%= l["display_phone"]%>
                        </p>
                        <div>
                          <a href=<%= "/business/" + l['id']%> class="btn btn-primary" style="margin-left:auto; color:white;">Visit</a>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </h4>
            </div>
            <div class="tab-pane fade" id="events">
                <h4 class="mt-2">
                  <% @events.each do |e|%>
                    <div class="row" style="margin-bottom:30px;">
                      <div class="col-3" >
                        <img src=<%= e["image_url"]%> style="width:150px; height:200px; object-fit:cover; border-radius:5px;">
                      </div>
                      <div class="col-9">
                        <h3 class="card-title" style="margin:0px;"><%= e["name"]%></h3>
                        <h5 style=" font-size:18px; "> 
                          <%= e["description"]%> 
                        </h5>
                        <h5 style="margin:0px; font-size:18px;">
                          <%= e["location"]["address1"]%>
                        </h5>
                        <a href=<%= "/event/" + e['id']%> class="btn btn-primary" style="margin-top:auto; margin-left:auto; color:white;">Visit</a>
                      </div>
                    </div>
                  <% end %>
                </h4>
            </div>
            <div class="tab-pane fade" id="following">
                <h4 class="mt-2">
                  <% @following.each do |f|%>
                    <div class="row" style="margin-bottom:20px; margin-top:10px;">
                      <div class="col-2">
                        <img src=<%=f[1]%> style="width:100px; display:inline;">
                      </div>
                      <div class="col-10">
                        <h3><%= f[0].nick_name%></h3>
                        <h5><%= f[0].hometown%></h5>
                        <div>
                          <a href=<%= "/other_user/"+f[0].id.to_s%> class="btn btn-primary" style="margin-left:auto; color:white;">Visit</a>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </h4>
            </div>
        </div>
      </div>
    </div>

    <div class="col-4">
      <%= pie_chart @food_hash%>
    </div>
  </div>
</div>


<style>
  .padding{
      padding-left: 0;
  }
  .reminder{
      margin-top: 10px;
      margin-bottom: 10px;
  }
  .weight{
      font-weight:bold;
  }
</style>
