<p id="notice"><%= notice %></p>
<h1>
  User  Profile
</h1>
<p>
  <div class="col-lg-12 col-form-label col-form-label-lg padding weight">First Name:</div>
  <div class="col-lg-12 col-form-label col-form-label-lg padding">
  <%= @user.first_name %>
  </div>
</p>
<p>
  <div class="col-lg-12 col-form-label col-form-label-lg padding weight">Last Name:</div>
  <div class="col-lg-12 col-form-label col-form-label-lg padding">
  <%= @user.last_name %>
  </div>
</p>
<p>
  <div class="col-lg-12 col-form-label col-form-label-lg padding weight">Nick Name:</div>
  <div class="col-lg-12 col-form-label col-form-label-lg padding">
  <%= @user.nick_name %>
  </div>
</p>
<p>
  <div class="col-lg-12 col-form-label col-form-label-lg padding weight">Gender:</div>
  <div class="col-lg-12 col-form-label col-form-label-lg padding">
  <%= @user.gender %>
  </div>
</p>
<p>
  <div class="col-lg-12 col-form-label col-form-label-lg padding weight">Age:</div>
  <div class="col-lg-12 col-form-label col-form-label-lg padding">
  <%= @user.age %>
  </div>
</p>
<p>
  <div class="col-lg-12 col-form-label col-form-label-lg padding weight">Food preference:</div>
  <div class="col-lg-12 col-form-label col-form-label-lg padding">
  <%= @user.food_preference %>
  </div>
</p>
<p>
  <div class="col-lg-12 col-form-label col-form-label-lg padding weight">Email:</div>
  <div class="col-lg-12 col-form-label col-form-label-lg padding">
    <%= @user.email %>
  </div>
</p>

<p>
  <div class="col-lg-12 col-form-label col-form-label-lg padding weight">Is emai confirmed:</div>
  <div class="col-lg-12 col-form-label col-form-label-lg padding">
  <%= @user.confirmed %>
  </div>
</p>




<div>
  <strong class = 'reminder class="col-lg-12 col-form-label col-form-label-lg padding"'>
    <%= link_to 'Edit my profile', '/edit_profile' %>
  </strong>
</div>


<div>
  <strong class = 'reminder class="col-lg-12 col-form-label col-form-label-lg padding"'>
    <%= link_to 'Log out', '/' %>
  </strong>
</div>


<div>
  <strong class = 'reminder class="col-lg-12 col-form-label col-form-label-lg padding"'>
    <%= link_to 'Back to home page', '/home' %>
  </strong>
</div>





<style>
  .padding{
      padding-left: 0;
  }
  .reminder{
      margin-top: 10px;
      margin-bottom: 10px;
  }
  .weight{
      font-weight:bold;
  }
</style>