<nav class="navbar " style="background: rgba(0,0,0,0);">
  <div class="container-fluid" >
    <div class="navbar-brand" style="display:flex; align-items:center;">
      <%= image_tag("superball.png", width: '50px') %>
      <strong style="padding-left:5px;">Pokemon Eat</strong>
    </div>
    <span class="navbar-text">
      <% if @user == nil %>
        <button class="btn btn-outline-success" >
          <%= link_to "Log In", "/" %>
        </button>
        <button class="btn btn-outline-success" >
          <%= link_to "Sign Up", "/" %>
        </button>
      <% else %>
        <%= link_to @user.email, "/user" %>
      <% end%>
    </span>
  </div>
</nav>


<div class="container">
  <div class="row">
    <div class="col">
      <h1>
        User  Profile
      </h1>
    </div>
    <div class="col"></div>
  </div>
  <div class="row">
    <div class="col">
      <h3>First Name</h3> <h5><%= @user.first_name %></h5>
    </div>
    <div class="col">
      <h3>Last Name</h3> <h5><%= @user.last_name %></h5>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h3>Nick Name</h3> <h5><%= @user.nick_name %></h5>
    </div>
    <div class="col"></div>
  </div>
  <div class="row">
    <div class="col">
      <h3>Gender</h3> <h5><%= @user.gender %></h5>
    </div>
    <div class="col"></div>
  </div>
  <div class="row">
    <div class="col">
      <h3>Age</h3> <h5><%= @user.age %></h5>
    </div>
    <div class="col"></div>
  </div>
  <div class="row">
    <div class="col">
      <h3>Food Preference</h3> <h5><%= @user.food_preference %></h5>
    </div>
    <div class="col"></div>
  </div>
  <div class="row">
    <div class="col">
      <h3>Email</h3> <h5><%= @user.email %></h5>
    </div>
    <div class="col"></div>
  </div>
  <div class="row">
    <div class="col">
      <h3>Email is confirmed</h3> <h5><%= @user.confirmed %></h5>
    </div>
    <div class="col"></div>
  </div>
</div>






<div>
  <strong class = 'reminder class="col-lg-12 col-form-label col-form-label-lg padding"'>
    <%= link_to 'Edit my profile', '/edit_profile' %>
  </strong>
</div>


<div>
  <strong class = 'reminder class="col-lg-12 col-form-label col-form-label-lg padding"'>
    <%= link_to 'Log out', '/' %>
  </strong>
</div>


<div>
  <strong class = 'reminder class="col-lg-12 col-form-label col-form-label-lg padding"'>
    <%= link_to 'Back to home page', '/home' %>
  </strong>
</div>





<style>
  .padding{
      padding-left: 0;
  }
  .reminder{
      margin-top: 10px;
      margin-bottom: 10px;
  }
  .weight{
      font-weight:bold;
  }
</style>