<h1>Hi Welcome to Pokemon Eat</h1>
<h1>LogIn</h1>
<%= form_with(url: "/login", method: :post, local: true) do |form| %>
    <%= form.label :email, "Email:" %>
    <%= form.email_field :email, :id => 'login_email'%>
    <%= form.label :password, "Password:" %>
    <%= form.password_field :password, :id => 'login_password'%>
    <%= form.submit "LogIn" %>
<% end %>

<% if @login_errors != nil and @login_errors.empty? == false%>
    <ul>
        <% @login_errors.each do |error|%>
            <li class="login_error"> <%= error%></li>
        <% end%>
    </ul>
<% end %>




<h1>SignUp</h1>
<%= form_with(url: "/signup", method: :post, local: true) do |form| %>
    <%= form.label :email, "Email:" %>
    <%= form.email_field :email, :id => 'signup_email'%>
    <%= form.label :password, "Password:" %>
    <%= form.password_field :password, :id => 'signup_password' %>
    <%= form.label :re_password, "Re-Password:" %>
    <%= form.password_field :re_password %>
    <%= form.submit "SignUp" %>
<% end %>


<% if @signup_errors != nil and @signup_errors.empty? == false%>
    <ul>
        <% @signup_errors.each do |error|%>
            <li class="login_error"> <%= error%></li>
        <% end%>
    </ul>
<% end %>







